body {
    background-color: #f1e8e9;
}

nav {
    font-size: 5mm;
    background-color: #8a9ea7;
    border: 20px solid #8a9ea7 ;
    padding: 0 5%;
}

nav li {
    display: inline-block;
}

nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
    padding: 23px;
}

nav a:hover, nav a:focus {
    color: #81532f;
}

.loginbar {
    float: right;
    font-size: 5mm;
    margin-top: -37px;
}

h1 {
    text-align: center; 
    margin-top: 0; 
    font-size: 19mm;
    padding: 25px;
    -webkit-text-stroke: 1.5px #f1e8e9;
    font-family:'Times New Roman', Times, serif;
}

.contact-paragraph {
    font-size: 5.5mm;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}

.login-form {
    display: block;
    width: 300px;
    height: 230px;
    padding: 5px;
    font-size: 30px;
    margin-top: 170px;
    margin-left: 300px;
    text-align: center;
    border: 7px solid #8d9b6a;
}

.login-header {
    margin-left: 23%;
    margin-top: -5%;
    position: absolute;
    font-size: 10mm;
}

.create-form {
    display: block;
    width: 300px;
    height: 310px;
    padding: 7px;
    font-size: 30px;
    margin-top: -16.25%;
    margin-left: 65%;
    text-align: center;
    border: 7px solid #8d9b6a;
    position: absolute;
    
}

.create-header {
    margin-left: 67%;
    position: absolute;
    margin-top: -21%;
    font-size: 10mm;
}

textarea {
    width: 600px;
    height: 200px;
    font-size: 5.5mm;
    text-align: start;
    position: relative;
    margin-top: 15px;
}

.arctic-breeze {
    font-size: 12mm;
    position: absolute;
    margin-left: 75px;
    margin-top: 16px;
    -webkit-text-stroke: .80px #f1e8e9;
    font-family:'Times New Roman', Times, serif;
}

.harmony-rock {
    font-size: 12mm;
    position: absolute;
    margin-left: 75px;
    margin-top: 16px;
    -webkit-text-stroke: .80px #f1e8e9;
    font-family:'Times New Roman', Times, serif;
}

.nature-nest {
    font-size: 12mm;
    position: absolute;
    margin-left: 75px;
    margin-top: 16px;
    -webkit-text-stroke: .80px #f1e8e9;
    font-family:'Times New Roman', Times, serif;
}

.jet-luxe {
    font-size: 12mm;
    position: absolute;
    margin-left: 75px;
    margin-top: 16px;
    -webkit-text-stroke: .80px #f1e8e9;
    font-family:'Times New Roman', Times, serif;
}

.metro-luxe {
    font-size: 12mm;
    position: absolute;
    margin-left: 75px;
    margin-top: 16px;
    -webkit-text-stroke: .80px #f1e8e9;
    font-family:'Times New Roman', Times, serif;
}

.cozy-haven {
    font-size: 12mm;
    position: absolute;
    margin-left: 75px;
    margin-top: 16px;
    -webkit-text-stroke: .80px #f1e8e9;
    font-family:'Times New Roman', Times, serif;
}

.chair1 {
    position: absolute;
    height: 330px; 
    width: 370px; 
    border: 1mm solid black;
    margin-top: 3%;
    margin-left: 15%;
}

.chair2 {
    position: absolute;
    height: 330px; 
    width: 350px; 
    border: 1mm solid black;
    margin-top: 3%;
    margin-left: 42%;
}

.chair3 {
    position: absolute;
    height: 330px; 
    width: 280px; 
    border: 1mm solid black;
    margin-top: 3%;
    margin-left: 69%;
}

.chair4 {
    position: absolute;
    height: 330px; 
    width: 350px; 
    border: 1mm solid black;
    margin-top: 26%;
    margin-left: 15%;
}

.chair5 {
    position: absolute;
    height: 330px; 
    width: 350px; 
    border: 1mm solid black;
    margin-top: 26%;
    margin-left: 42%;
}

.chair6 {
    position: absolute;
    height: 330px; 
    width: 350px; 
    border: 1mm solid black;
    margin-top: 26%;
    margin-left: 68%;
}

.text1 {
    position: absolute;
    margin-top: 22%;
    margin-left: 17.25%;
    font-size: 25px;
}

.text2 {
    position: absolute;
    margin-top: 22%;
    margin-left: 40.5%;
    font-size: 25px;
}

.text3 {
    position: absolute;
    margin-top: 22%;
    margin-left: 69.5%;
    font-size: 25px;
}

.text4 {
    position: absolute;
    margin-top: 45%;
    margin-left: 15.35%;
    font-size: 25px;
}

.text5 {
    position: absolute;
    margin-top: 45%;
    margin-left: 44.5%;
    font-size: 25px;
}

.text6 {
    position: absolute;
    margin-top: 44.85%;
    margin-left: 69.2%;
    font-size: 25px;
}
.banner-logo {
    position: absolute; 
    height: 250px; 
    width: 325px; 
    margin-top: 55px; 
    margin-left: 20px; 
    border: 5px solid black;
}
.banner-img {
    width: 100%;
    height: 375px;
}

.box {
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    background: rgba(127, 174, 27, 0.347);
}
.about-paragraph {
    text-align: center; 
    margin-left: 200px;
    margin-right: 200px;
    font-size: 5.5mm;
}

footer {
    text-align: center;
}

input#email, input#contact-name {
    text-align: center;
    font-size: 5.5mm;
    display: block;
    margin: 7px auto;
    padding: 10px;
}

.chair1-cart, .chair2-cart, .chair3-cart,
.chair4-cart, .chair5-cart, .chair6-cart,
.contact-submit, .login-submit, .input-create,
.cart-submit {
    display: block;
    margin: 50px auto;
    background-color: #f1e8e9;
    color: #8a9ea7;
    padding: 6px;
    border: 3px solid #8d9b6a;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 45px;
    font-size: large;
    text-align: center;
    text-decoration: none;
}
.home-submit{
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 30px auto;
    background-color: #f1e8e9;
    color: #8a9ea7;
    padding: 6px;
    border: 3px solid #8d9b6a;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 45px;
    font-size: large;
    text-align: center;
}
.chair1-cart:hover, .chair2-cart:hover, .chair3-cart:hover,
.chair4-cart:hover, .chair5-cart:hover, .chair6-cart:hover,
.contact-submit:hover, .login-submit:hover, .input-create:hover, 
.cart-submit:hover, .home-submit:hover {
    background-color: #8d9b6a;
    color: white;
}

.cart-link{
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    color: #8d9b6a;
}

.fa:hover, .fa:focus, .fa:active {
    color: #81532f;
}

textarea::placeholder {
    text-align: center;
    padding: 80px;
}

.contact-name, .contact-email {
    margin: 0 auto;
    width: 400px;
}

textarea {
    margin-left: 33%;
}

.cart-paragraph {
    font-size: 5.5mm;
    text-align: center;
}

.link {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-decoration: none;
}

.create-un, .create-pw, 
.create-email {
    width: 200px;
    font-size: 20px;
    padding: 7px;
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
}

.input-create {
    margin-top: 20px;
    width: 170px;
}

.login-un, .login-pw { 
    width: 200px;
    font-size: 20px;
    padding: 7px;
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
}

.login-submit {
    margin-top: 10px;
}

.vl {
    border-left: 5px solid black;
    height: 500px;
    position: absolute;
    margin-left: 50%;
    margin-top: -20%;
    opacity: .6;
}

.chair-1 {
    height: 500px; 
    width: 750px; 
    border: 2mm solid black; 
    margin-top: 5%;
}

.chair1-description {
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -20%;
    font-size: 6mm;
    padding: 5px;
}

.chair1-price {
    margin-left: 70%;
    font-size: 10mm;           
}

.chair1-quantity {
    position: absolute;
    margin-left: 62%;
    margin-top: -.3%;
    padding: 10px;
    font-size: 8mm;
}

.chair1-select {
    position: absolute;
    margin-left: 70%;
    margin-top: 0.1%;
    padding: 10px;
    font-size: large;
}

.chair1-cart {
    margin-left: 75%;
    width: 125px;
}

.chair-2 {
    height: 500px; 
    width: 600px; 
    border: 2mm solid black; 
    margin-top: 5%;
}

.chair2-cart {
    margin-left: 75%;
    width: 125px;
}

.chair2-description {
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -20%;
    font-size: 6mm;
    padding: 5px;
}

.chair2-price {
    margin-left: 70%;
    font-size: 10mm;           
}

.chair2-quantity {
    position: absolute;
    margin-left: 63%;
    margin-top: -0.3%;
    padding: 10px;
    font-size: 8mm;
}

.chair2-select {
    position: absolute;
    margin-left: 70%;
    margin-top: 0.1%;
    padding: 10px;
    font-size: large;
}

.chair-3 {
    height: 500px; 
    width: 450px; 
    border: 2mm solid black; 
    margin-top: 5%;
    margin-left: 5%;
}

.chair3-cart {
    margin-left: 65%;
    width: 125px;
}

.chair3-description {
    margin-left: 40%;
    margin-right: 5%;
    margin-top: -20%;
    font-size: 6mm;
    padding: 5px;
}

.chair3-price {
    margin-left: 60%;
    font-size: 10mm;           
}

.chair3-quantity {
    position: absolute;
    margin-left: 51%;
    margin-top: -0.3%;
    padding: 10px;
    font-size: 8mm;
}

.chair3-select {
    position: absolute;
    margin-left: 59%;
    margin-top: 0.1%;
    padding: 10px;
    font-size: large;
}

.chair-4 {
    height: 500px; 
    width: 600px; 
    border: 2mm solid black; 
    margin-top: 5%;
    margin-left: 4%;
}

.chair4-cart {
    margin-left: 71%;
    width: 125px;
}

.chair4-description {
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -25%;
    font-size: 6mm;
    padding: 5px;
}

.chair4-price {
    margin-left: 67%;
    font-size: 10mm;           
}

.chair4-quantity {
    position: absolute;
    margin-left: 58%;
    margin-top: -0.3%;
    padding: 10px;
    font-size: 8mm;
}

.chair4-select {
    position: absolute;
    margin-left: 66%;
    margin-top: 0.1%;
    padding: 10px;
    font-size: large;
}

.chair-5 {
    height: 500px; 
    width: 600px; 
    border: 2mm solid black; 
    margin-top: 5%;
    margin-left: 3%;
}

.chair5-cart {
    margin-left: 70%;
    width: 125px;
}

.chair5-description {
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -25%;
    font-size: 6mm;
    padding: 5px;
}

.chair5-price {
    margin-left: 67%;
    font-size: 10mm;           
}

.chair5-quantity {
    position: absolute;
    margin-left: 58%;
    margin-top: -0.3%;
    padding: 10px;
    font-size: 8mm;
}

.chair5-select {
    position: absolute;
    margin-left: 65%;
    margin-top: 0.1%;
    padding: 10px;
    font-size: large;
}

.chair-6 {
    height: 500px; 
    width: 750px; 
    border: 2mm solid black; 
    margin-top: 5%;
}

.chair6-cart {
    margin-left: 71%;
    width: 125px;
}

.chair6-description {
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -25%;
    font-size: 6mm;
    padding: 5px;
}

.chair6-price {
    margin-left: 67%;
    font-size: 10mm;           
}

.chair6-quantity {
    position: absolute;
    margin-left: 58%;
    margin-top: -0.3%;
    padding: 10px;
    font-size: 8mm;
}

.chair6-select {
    position: absolute;
    margin-left: 66%;
    margin-top: 0.1%;
    padding: 10px;
    font-size: large;
}

.image-container {
    position: relative;
    top: 5px;
}

.image1 {
    height: 830px;
    width: 100%;
}

.image2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 40%;
    background: rgba(227, 220, 220, 0.59);
    border: 3px solid black;
    padding: 12px;
}

.overlay-text {
    position: absolute;
    border: 3px solid black;
    /* background-color: #f1e8e9; */
    background: rgba(227, 220, 220, 0.59);
    top: 96%; 
    left: 50%; 
    width: 98%;
    transform: translate(-50%, -50%); 
    color: black; 
    padding: 10px; 
    font-size: 30px; 
    text-align: center;
    font-family: Adamina;
}
@media only screen and (max-width: 500px) {
    nav a:link, nav a:visited {
        color: white;
        text-decoration: none;
        padding: 2px;
    }
    nav a:hover, nav a:focus {
        color: #81532f;
    }
    .image1 {
        height: 630px;
    }
    .image2 {
        width: 65%;
        margin-top: -30px;
    }
    .overlay-text {
        width: 94%;
        margin-top: -25px;
    }
    .banner-logo {
        position: absolute; 
        height: 100px; 
        width: 100px; 
        margin-top: 20px; 
        margin-left: 10px; 
        border: 5px solid black;
    }
    .banner-img {
        width: 100%;
        height: 150px;
    }
    .chair1 {
        position: absolute;
        height: 100px; 
        width: 100px; 
        border: 1mm solid black;
        margin-top: 3%;
        margin-left: 0%;
    }
    .chair2 {
        position: absolute;
        height: 100px; 
        width: 100px; 
        border: 1mm solid black;
        margin-top: 3%;
        margin-left: 35%;
    }
    .chair3 {
        position: absolute;
        height: 100px; 
        width: 100px; 
        border: 1mm solid black;
        margin-top: 3%;
        margin-left: 67.5%;
    }
    .chair4 {
        position: absolute;
        height: 100px; 
        width: 100px; 
        border: 1mm solid black;
        margin-top: 65%;
        margin-left: 0%;
    }
    .chair5 {
        position: absolute;
        height: 100px; 
        width: 100px; 
        border: 1mm solid black;
        margin-top: 65%;
        margin-left: 35%;
    }
    
    .chair6 {
        position: absolute;
        height: 100px; 
        width: 100px; 
        border: 1mm solid black;
        margin-top: 65%;
        margin-left: 67.5%;
    }
    
    .text1 {
        position: absolute;
        margin-top: 35%;
        margin-left: 7%;
        font-size: 15px;
        width: 50px;
        text-align: center;
    }
    
    .text2 {
        position: absolute;
        margin-top: 35%;
        margin-left: 42%;
        font-size: 15px;
        width: 50px;
        text-align: center;
    }
    
    .text3 {
        position: absolute;
        margin-top: 35%;
        margin-left: 75%;
        font-size: 15px;
        width: 50px;
        text-align: center;
    }
    
    .text4 {
        position: absolute;
        margin-top: 95%;
        margin-left: 7%;
        font-size: 15px;
        width: 50px;
        text-align: center;
    }
    
    .text5 {
        position: absolute;
        margin-top: 95%;
        margin-left: 42%;
        font-size: 15px;
        width: 50px;
        text-align: center;
    }
    
    .text6 {
        position: absolute;
        margin-top: 95%;
        margin-left: 75%;
        font-size: 15px;
        width: 50px;
        text-align: center;
    }
    p {
        text-align: center; 
        margin-left: 100%;
        margin-right: 100%;
        font-size: 5.5mm;
    }
    .box {
        margin: 0 auto;
        width: 300px;
        border: 1px solid #333;
        box-shadow: 8px 8px 5px #444;
        background: rgba(127, 174, 27, 0.347);
        text-align: left;
        font-size: 17px;
    }
    .about-paragraph {
        font-size: 17px;
        width: 285px;
        text-align: center;
        margin: 0 auto;
        padding: 5px;
    }
    .contact-paragraph {
        width: 300px;
        margin: 0 auto;
        padding: 5px;
    }
    .cart-paragraph {
        margin: 0 auto;
    }
    .contact-form {
        width: 350px;
        margin: 0 auto;
    }
    textarea{
        width: 300px;
        height: 200px;
    }
    .login-header {
        font-size: 20px;
        margin-left: 5%;
        margin-top: -15%;
        text-align: center;
    }
    .vl {
        margin-top: -85%;
        height: 400px;
        margin-left: 48%;
    }
    .login-sect {
        width: 175px;
        margin-top: 30%;
    }
    .login-form {
        margin-left: 0%;
        margin-top: 0%;
        width: 150px;
    }
    .login-un, .login-pw {
        width: 125px;
        font-size: medium;
        padding: 10px;
    }
    .create-email {
        width: 100px;
    }
    .create-un, .create-pw {
        width: 100px;
        font-size: medium;
        padding: 10px;
    }
    .create-header {
        font-size: 20px;
        margin-left: 60%;
        margin-top: -80%;
        text-align: center;
    }
    .create-form {
        margin-left: 55%;
        margin-top: -65%;
        width: 125px;
    }
    .input-create {
        width: 130px;
        font-size: medium;
    }

    .arctic-breeze {
        margin: 0  auto;
        font-size: 30px;
        padding: 20px;
    }
    .chair-1 {
        height: 200px; 
        width: 250px; 
        border: 2mm solid black; 
        margin-top: 100px;
        margin-left: 75px;
    }
    .chair1-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair1-cart {
        margin-left: 65%;
        width: 125px;
    }
    .chair1-price, .chair1-quantity {
        margin: 0 auto;
    }
    .chair1-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .harmony-rock {
        margin: 0  auto;
        font-size: 30px;
        padding: 20px;
    }
    .chair-2 {
        height: 200px; 
        width: 250px; 
        border: 2mm solid black; 
        margin-top: 100px;
        margin-left: 75px;
    }
    .chair2-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair2-cart {
        margin-left: 65%;
        width: 125px;
    }
    .chair2-price, .chair2-quantity {
        margin: 0 auto;
    }
    .chair2-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .nature-nest {
        margin: 0  auto;
        font-size: 30px;
        padding: 20px;
    }
    .chair-3 {
        height: 200px; 
        width: 190px; 
        border: 2mm solid black; 
        margin-top: 90px;
        margin-left: 100px;
    }
    .chair3-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair3-cart {
        margin-left: 65%;
        width: 125px;
    }
    .chair3-price, .chair3-quantity {
        margin: 0 auto;
    }
    .chair3-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .jet-luxe {
        margin: 0  auto;
        font-size: 30px;
        padding: 20px;
    }
    .chair-4 {
        height: 200px; 
        width: 190px; 
        border: 2mm solid black; 
        margin-top: 90px;
        margin-left: 100px;
    }
    .chair4-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair4-cart {
        margin-left: 65%;
        width: 125px;
    }
    .chair4-price, .chair4-quantity {
        margin: 0 auto;
    }
    .chair4-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .metro-luxe {
        margin: 0  auto;
        font-size: 30px;
        padding: 20px;
    }
    .chair-5 {
        height: 200px; 
        width: 190px; 
        border: 2mm solid black; 
        margin-top: 90px;
        margin-left: 100px;
    }
    .chair5-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair5-cart {
        margin-left: 65%;
        width: 125px;
    }
    .chair5-price, .chair5-quantity {
        margin: 0 auto;
    }
    .chair5-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .cozy-haven {
        margin: 0  auto;
        font-size: 30px;
        padding: 20px;
    }
    .chair-6 {
        height: 200px; 
        width: 190px; 
        border: 2mm solid black; 
        margin-top: 90px;
        margin-left: 100px;
    }
    .chair6-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair6-cart {
        margin-left: 65%;
        width: 125px;
    }
    .chair6-price, .chair6-quantity {
        margin: 0 auto;
    }
    .chair6-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1400px) {
    nav a:link, nav a:visited {
        color: white;
        text-decoration: none;
        padding: 2px;
    }
    nav a:hover, nav a:focus {
        color: #81532f;
    }
    .image1 {
        height: 640px;
    }
    .image2 {
        width: 40%;
        margin-top: -30px;
    }
    .overlay-text {
        width: 96.7%;
        margin-top: -7px;
    }
    .banner-logo {
        position: absolute; 
        height: 130px; 
        width: 130px; 
        margin-top: 60px; 
        margin-left: 80px; 
        border: 5px solid black;
    }
    .banner-img {
        width: 100%;
        height: 250px;
    }
    .chair1 {
        position: absolute;
        height: 200px; 
        width: 200px; 
        border: 1mm solid black;
        margin-top: 3%;
        margin-left: 0%;
    }
    .chair2 {
        position: absolute;
        height: 200px; 
        width: 200px; 
        border: 1mm solid black;
        margin-top: 3%;
        margin-left: 34%;
    }
    .chair3 {
        position: absolute;
        height: 200px; 
        width: 180px; 
        border: 1mm solid black;
        margin-top: 3%;
        margin-left: 67.5%;
    }
    .chair4 {
        position: absolute;
        height: 200px; 
        width: 200px; 
        border: 1mm solid black;
        margin-top: 65%;
        margin-left: 0%;
    }
    .chair5 {
        position: absolute;
        height: 200px; 
        width: 200px; 
        border: 1mm solid black;
        margin-top: 65%;
        margin-left: 35%;
    }
    
    .chair6 {
        position: absolute;
        height: 200px; 
        width: 200px; 
        border: 1mm solid black;
        margin-top: 65%;
        margin-left: 67.5%;
    }
    
    .text1 {
        position: absolute;
        margin-top: 35%;
        margin-left: 7%;
        font-size: 30px;
        width: 50px;
        text-align: center;
    }
    
    .text2 {
        position: absolute;
        margin-top: 35%;
        margin-left: 42%;
        font-size: 30px;
        width: 50px;
        text-align: center;
    }
    
    .text3 {
        position: absolute;
        margin-top: 35%;
        margin-left: 75%;
        font-size: 30px;
        width: 50px;
        text-align: center;
    }
    
    .text4 {
        position: absolute;
        margin-top: 95%;
        margin-left: 7%;
        font-size: 30px;
        width: 50px;
        text-align: center;
    }
    
    .text5 {
        position: absolute;
        margin-top: 95%;
        margin-left: 42%;
        font-size: 30px;
        width: 50px;
        text-align: center;
    }
    
    .text6 {
        position: absolute;
        margin-top: 95%;
        margin-left: 75%;
        font-size: 30px;
        width: 50px;
        text-align: center;
    }
    p {
        text-align: center; 
        margin-left: 100%;
        margin-right: 100%;
        font-size: 5.5mm;
    }
    .box {
        margin: 20px auto;
        width: 700px;
        border: 1px solid #333;
        box-shadow: 8px 8px 5px #444;
        background: rgba(127, 174, 27, 0.347);
        text-align: center;
        font-size: 17px;
    }
    .about-paragraph {
        font-size: 20px;
        width: 600px;
        text-align: center;
        margin: 10px auto;
        padding: 5px;
    }
    .contact-paragraph {
        width: 600px;
        margin: 0 auto;
        padding: 5px;
    }
    .cart-paragraph {
        margin: 0 auto;
    }
    .contact-form {
        width: 550px;
        margin: 0 auto;
    }
    textarea {
        width: 550px;
        height: 200px;
    }
    .contact-name, .contact-email {
        width: 400px;
    }
    .login-header {
        font-size: 30px;
        margin-left: 20%;
        margin-top: -15%;
        text-align: center;
    }
    .vl {
        margin-top: -50%;
        height: 400px;
        margin-left: 50%;
    }
    .login-sect {
        width: 250px;
        margin-top: 30%;
    }
    .login-form {
        margin-left: 20%;
        margin-top: -20%;
        width: 250px;
    }
    .login-un, .login-pw {
        width: 225px;
        font-size: medium;
        padding: 10px;
    }
    .create-email {
        width: 200px;
    }
    .create-un, .create-pw {
        width: 200px;
        font-size: medium;
        padding: 10px;
    }
    .create-header {
        font-size: 30px;
        margin-left: 60%;
        margin-top: -51%;
        text-align: center;
    }
    .create-form {
        margin-left: 55%;
        margin-top: -40%;
        width: 250px;
    }
    .input-create {
        width: 130px;
        font-size: medium;
    }

    .arctic-breeze {
        margin: 0  auto;
        font-size: 50px;
        padding: 20px;
    }
    .chair-1 {
        height: 200px; 
        width: 250px; 
        border: 2mm solid black; 
        margin-top: 100px;
        margin-left: 250px;
    }
    .chair1-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair1-cart {
        margin-left: 55%;
        width: 125px;
    }
    .chair1-price {
        margin: 0 auto;
    }
    .chair1-quantity {
        margin-left: 20%;
        margin-top: 0%;
    }
    .chair1-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .harmony-rock {
        margin: 0  auto;
        font-size: 40px;
        padding: 20px;
    }
    .chair-2 {
        height: 220px; 
        width: 250px; 
        border: 2mm solid black; 
        margin-top: 100px;
        margin-left: 250px;
    }
    .chair2-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair2-cart {
        margin-left: 55%;
        width: 125px;
    }
    .chair2-price {
        margin: 0 auto;
    }
    .chair2-quantity {
        margin-left: 20%;
        margin-top: 0%;
    }
    .chair2-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .nature-nest {
        margin: 0  auto;
        font-size: 50px;
        padding: 20px;
    }
    .chair-3 {
        height: 200px; 
        width: 190px; 
        border: 2mm solid black; 
        margin-top: 90px;
        margin-left: 270px;
    }
    .chair3-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair3-cart {
        margin-left: 55%;
        width: 125px;
    }
    .chair3-price {
        margin: 0 auto;
    }
    .chair3-quantity {
        margin-left: 20%;
        margin-top: 0%;
    }
    .chair3-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .jet-luxe {
        margin: 0  auto;
        font-size: 40px;
        padding: 20px;
    }
    .chair-4 {
        height: 200px; 
        width: 190px; 
        border: 2mm solid black; 
        margin-top: 90px;
        margin-left: 270px;
    }
    .chair4-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair4-cart {
        margin-left: 55%;
        width: 125px;
    }
    .chair4-price {
        margin: 0 auto;
    }
    .chair4-quantity {
        margin-left: 20%;
        margin-top: 0%;
    }
    .chair4-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .metro-luxe {
        margin: 0  auto;
        font-size: 40px;
        padding: 20px;
    }
    .chair-5 {
        height: 200px; 
        width: 190px; 
        border: 2mm solid black; 
        margin-top: 90px;
        margin-left: 270px;
    }
    .chair5-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair5-cart {
        margin-left: 55%;
        width: 125px;
    }
    .chair5-price {
        margin: 0 auto;
    }
    .chair5-quantity{
        margin-left: 20%;
        margin-top: 0%;
    }
    .chair5-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }
    .cozy-haven {
        margin: 0  auto;
        font-size: 40px;
        padding: 20px;
    }
    .chair-6 {
        height: 200px; 
        width: 190px; 
        border: 2mm solid black; 
        margin-top: 90px;
        margin-left: 250px;
    }
    .chair6-description {
        margin: 0 auto ;
        font-size: 6mm;
        padding: 5px;
    }
    .chair6-cart {
        margin-left: 55%;
        width: 125px;
    }
    .chair6-price {
        margin: 0 auto;
    }
    .chair6-quantity {
        margin-left: 20%;
        margin-top: 0%;
    }
    .chair6-select {
        margin-left: 40%;
        margin-top: 0.5%;
    }


}